<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989165687348-v945aserbp18oep5l0rvi4onuik6ra1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989165687348-v945aserbp18oep5l0rvi4onuik6ra1j</string>
	<key>API_KEY</key>
	<string>AIzaSyBgLdgRRb1uSPyysfI2Ue7N0DD9mWpfH7o</string>
	<key>GCM_SENDER_ID</key>
	<string>989165687348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.menut.demoNotification</string>
	<key>PROJECT_ID</key>
	<string>demonotification-bd526</string>
	<key>STORAGE_BUCKET</key>
	<string>demonotification-bd526.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989165687348:ios:2e135a876833422dacb061</string>
</dict>
</plist>